# Add empty folder
# *

# Flask-specific files to ignore
venv1/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyi
*.egg-info/
*.egg
*.pot
*.mo
*.log

# React-specific files to ignore
node_modules/
build/
.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
coverage/
.cache/
*.log
*.log*
*.gz
*.tgz
*.zip

# General files to ignore
*.DS_Store
.idea/
.vscode/
*.pydevproject
*.project
*.settings/
*.bak
*.tmp
*.swp
Thumbs.db
